.todo
    display: flex
    padding: 15px
    flex-wrap: wrap
    padding: 19px 25px 19px 25px
    overflow-y: auto
    margin-bottom: 15px

    .button-container
        width: 100%
        height: 30px
        margin-bottom: 5px

        button
            background-color: #4CAF50
            color: white
            border: 0
            padding: 3px 28px 3px 28px
            font-size: 14px
            box-shadow: 2px 2px 7px 0px #acacac

            &:hover
                cursor: pointer

            &:focus
                outline: 0

@media (max-width: 1268px) 
    .todo
        margin: auto
        width: 909px

@media (max-width: 960px) 
    .todo
        width: 607px

@media (max-width: 640px) 
    .todo
        width: 306px


        
        

        