@import url("https://fonts.googleapis.com/css?family=Roboto");
* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -webkit-user-select--khtml-user-select: none;
  -webkit-user-select--khtml-user-select--moz-user-select: none;
  -webkit-user-select--khtml-user-select--moz-user-select--ms-user-select: none;
  -webkit-user-select--khtml-user-select--moz-user-select--ms-user-select-user-select: none;
}

.App {
  display: flex;
  flex-direction: column;
}

/*# sourceMappingURL=App.css.map */
