@import url('https://fonts.googleapis.com/css?family=Roboto')

*
    font-family: 'Roboto', sans-serif
    margin: 0
    // remove select text highlight
    -webkit-touch-callout: none // iOS Safari 
    -webkit-user-select: none // Safari 
     -khtml-user-select: none // Konqueror HTML 
       -moz-user-select: none // Firefox 
        -ms-user-select: none //IE/Edge
            user-select: none // chrome, opera 

.App 
    display: flex
    flex-direction: column