header 
    height: 48px
    width: 100%
    background-image: linear-gradient(to right, #2C959C, #369fa6, #3da6ad, #45aeb5, #4cb5bc, #52bac1, #58bfc6, #5ec4cb, #64c8ce, #6accd2, #70d0d5, #76d4d9)
    display: flex
    justify-content: space-between
    position: fixed

.mobile-nav
    background-color: #424242
    width: 0px
    transition: width 2s    
    height: 100%
    margin: 0
    padding: 0
    position: fixed
    top: 0px
    margin-top: 48px
    box-shadow: 3px 0px 5px 0px #5a5a5a
    height: 100%