.menu-item {
  height: 48px;
}
.menu-item .active {
  background-color: #343333;
}
.menu-item button {
  background-color: #424242;
  width: 100%;
  height: 100%;
  border: 0;
  display: flex;
  color: #FFF;
  font-size: 14px;
  padding-left: 15px;
}
.menu-item button:hover {
  background-color: #545454;
  cursor: pointer;
}
.menu-item button:focus {
  outline: none;
}

.menu-icon {
  margin-right: 1px;
  margin-right: 18px;
  width: 15px !important;
}

/*# sourceMappingURL=menutiem.css.map */
