.menu-item
    height: 48px

    .active 
        background-color: #343333

    button 
        background-color: #424242
        width: 100%
        height: 100%
        border: 0
        display: flex
        color: #FFF
        font-size: 14px
        padding-left: 15px
        align-items: center

        &:hover 
            background-color: #545454
            cursor: pointer

        &:focus 
            outline: none

.menu-icon 
    margin-right: 1px
    margin-right: 18px
    width: 15px !important

a, a:hover, a:active, a:visited, a:focus 
    text-decoration: none