.item
    width: 100%
    display: flex
    border-bottom: 1px solid #A3A3A3

    &:hover
        background-color: #F5F5F5
        cursor: pointer

    button 
        position: absolute
        right: 0
        align-self: center
        border-radius: 4px
        background-color: #2C959C
        border: 0
        color: #FFF


        &:hover
            cursor: pointer
            background-color: #2fb9c3

        &:focus
            outline: 0

.a-course, .a-date, .a-part, .a-btn
    padding: 6px
    box-sizing: border-box