body {
  margin: 0;
}

form {
  display: flex;
  flex-direction: column;
}

.page-container {
  background-color: #2C959C;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.page-container h1, .page-container h3 {
  color: #092729;
  align-self: center;
  margin: 0px;
  letter-spacing: 2px;
  position: absolute;
  top: 72px;
}
.page-container h3 {
  color: #08282A;
  position: absolute;
  top: 111px;
}

.login-container {
  align-self: center;
  background-color: #5D7C7C;
  width: 242px;
  height: 303px;
  box-shadow: 0px 0px 212px 20px #DCFDFF;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 21px 36px 21px 36px;
}
.login-container button {
  width: 100%;
  background-color: #42A369;
  color: #FFF;
  height: 39px;
  border-radius: 4px;
  border: 0px;
  font-size: 16px;
}
.login-container button:hover {
  cursor: pointer;
}
.login-container .fas {
  color: #686868;
  margin-bottom: -25px;
  z-index: 1;
  margin-left: 11px;
  width: 0px;
}
.login-container .fa-key {
  top: 184px;
}
.login-container .title-container {
  border-bottom: 1px solid #A3A3A3;
  width: 100%;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
}
.login-container .title-container h2 {
  color: #f8efef;
  letter-spacing: 1px;
}
.login-container input {
  border-radius: 4px;
  border: 0px;
  margin-bottom: 20px;
  padding: 8px 5px 8px 42px;
  font-size: 16px;
}
.login-container input::placeholder {
  color: #9B9B9B;
  font-style: italic;
}

@media (max-width: 545px) {
  .login-container {
    width: 57vw;
  }
}

/*# sourceMappingURL=login.css.map */
