.profile-info {
  width: auto;
  height: 100%;
  display: flex;
  align-items: center;
}

.mini-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 6px;
  margin-right: 5px;
}
.mini-container:hover {
  cursor: pointer;
}

.profile-image {
  border-radius: 50%;
  width: 31px;
  height: 31px;
  background-size: cover;
  margin-right: 10px;
  border: 1px solid #64a9a8;
}

h5 {
  margin-right: 11px;
}

.bell {
  color: #225c60;
  margin-right: 23px;
}

.notification {
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background-color: #e8e8e8;
  position: absolute;
  right: 15px;
  top: 9px;
  font-size: 11px;
  font-weight: bold;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  border: 0px solid #213c3d;
  box-shadow: 0px 0px 7px 1px #216b6f;
}

.drop-down {
  background-color: #f8f8f8;
  height: auto;
  position: absolute;
  top: 48px;
  right: 22px;
  box-shadow: 1px 3px 4px 0px #908c8c;
  width: 123px;
}

.logout {
  width: 100%;
  text-align: left;
  border: 0;
  padding: 6px 8px 6px 8px;
  background-color: #f8f8f8;
  color: black;
  font-weight: bolder;
}
.logout:hover {
  color: #ce1e1e;
  cursor: pointer;
}
.logout:focus {
  outline: none;
}

.turn-off {
  margin-right: 5px;
  color: #ce1e1e;
  font-size: 15px;
}

.closed {
  display: none;
}

.open {
  display: block;
}

/*# sourceMappingURL=profileinfo.css.map */
