.course-participants {
  width: 100%;
  height: 100%;
  background-color: #000000;
  position: absolute;
  top: 0;
  left: 0;
  /* Fallback for web browsers that don't support RGBa */
  background-color: black;
  /* RGBa with 0.6 opacity */
  background-color: rgba(0, 0, 0, 0.6);
  /* For IE 8*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
  display: flex;
  align-items: center;
  justify-content: center;
}
.course-participants h3 {
  padding: 0;
  margin: 0;
}
.course-participants .mini-info {
  font-size: 12px;
  margin-bottom: 14px;
}

.mini-continer {
  width: 457px;
  height: 565px;
  background-color: #FFF;
  padding: 15px;
  box-sizing: border-box;
  overflow-y: auto;
  position: relative;
}

.t {
  border-top: 1px solid #D7D7D7;
  border-bottom: 1px solid #A3A3A3;
  display: flex;
  padding: 5px;
  color: #818486;
  font-size: 15px;
}

.part {
  width: 217px;
}

.hotel {
  width: 197px;
}

.close-popup {
  right: 9px;
  position: absolute;
  top: 6px;
  color: #df4c4c;
}
.close-popup:hover {
  cursor: pointer;
}

.courseTodoContainer {
  position: absolute;
  left: 10%;
  width: auto;
  height: 565px;
  margin-right: 23%;
}

.post-it {
  box-shadow: none !important;
}

.popup_c {
  height: auto;
  background-color: transparent !important;
  width: 100% !important;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1200px) {
  .courseTodoContainer {
    display: none;
  }
}

/*# sourceMappingURL=courseparticipants.css.map */
