.banner {
  background-color: #2C959C;
  color: #383838;
  font-weight: bold;
  letter-spacing: 0.5px;
  padding-left: 15px;
  display: -webkit-flex;
  display: flex;
  height: 100%;
  width: 241px;
  background: #cccccc;
  background: rgba(204, 204, 204, 0);
}

h3 {
  align-self: center;
}

@media (max-width: 1440px) {
  .banner {
    margin-left: 38px;
  }
}

/*# sourceMappingURL=banner.css.map */
