.mobile-nav
    background-color: #424242
    width: 0px
    transition: width 2s    
    height: 100%
    margin: 0
    padding: 0
    position: fixed
    top: 0px
    margin-top: 48px
    box-shadow: 2px 0px 11px #323232

.m-menu-icon
    font-size: 23px
    align-self: center
    position: absolute
    left: 14px
    display: none

    &:hover
        cursor: pointer

.active 
    background-color: #343333

@media (max-width: 1442px) 
    .m-menu-icon
        display: block