.start
    display: flex
    padding: 15px
    flex-wrap: wrap
    padding: 19px 25px 19px 25px
    overflow-y: auto
    margin-bottom: 15px

    .statistics-box
        width: 257px
        height: 77px
        background-color: red
        margin-right: 15px
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        border-radius: 4px
        margin-bottom: 15px

        h5
            margin-bottom: 7px

        &:nth-child(1)
            background-color: #F97979

        &:nth-child(2)
            background-color: #79ACF9

        &:nth-child(3)
            background-color: #2C959C

@media (max-width: 1442px) 
    .start 
        width: 817px
        align-self: baseline

@media (max-width: 866px) 
    .start 
        width: 575px
        align-self: baseline

@media (max-width: 630px) 
    .start 
        width: 575px
        align-self: baseline
        flex-direction: column
        align-items: center
        width: 330px
        margin: auto