.new-todo {
  width: 257px;
  min-height: 300px;
  background-color: #EDED8B;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 13px;
  position: relative;
}
.new-todo input {
  background-color: #EDED8B;
  border: 0;
  box-sizing: border-box;
  border-bottom: 1px solid #908C34;
  width: 94%;
  align-self: center;
  font-size: 14px;
  padding: 6px;
}
.new-todo input::placeholder {
  color: #C4C471;
  font-style: italic;
}
.new-todo input:focus {
  outline: 0;
}
.new-todo .small-container {
  width: 94%;
  position: relative;
  align-self: center;
}
.new-todo .small-container .icon {
  right: 6px;
  top: 9px;
  position: absolute;
  color: #df4c4c;
}
.new-todo .small-container .icon:hover {
  cursor: pointer;
}
.new-todo .newInput {
  width: 100%;
  border: 0;
  border-bottom: 1px solid #908C34;
}

.btns {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}
.btns button {
  background-color: #4CAF50;
  color: #FFF;
  border: 0;
  margin-bottom: 6px;
  padding: 3px 0px 3px 0px;
}
.btns button:hover {
  cursor: pointer;
}
.btns button:focus {
  outline: none;
}

.cont {
  display: flex;
  flex-direction: column;
}

.close-popup {
  right: 9px;
  position: absolute;
  top: 6px;
  color: #df4c4c;
}
.close-popup:hover {
  cursor: pointer;
}

/*# sourceMappingURL=changetodo_c.css.map */
