.new-course
    width: 100%
    height: 100%
    background-color: #000000
    position: absolute
    top: 0
    left: 0
     /* Fallback for web browsers that don't support RGBa */
    background-color: rgb(0, 0, 0)
    /* RGBa with 0.6 opacity */
    background-color: rgba(0, 0, 0, 0.6)
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)"
    display: flex
    align-items: center
    justify-content: center

    input, select, textarea, button
        font-size: 20px
        border: 1px solid #BEBEBE
        background-color: #FFF
        margin-bottom: 13px
        margin-right: 6px
        height: 50px
        padding-left: 11px
        color: #7E7E7E
    
    textarea
        height: 94px

        &:placeholder, &:-ms-input-placeholder, &::-moz-placeholder, &:-moz-placeholder, &::-webkit-input-placeholder
            color: #7E7E7E
            font-style: italic


        &:focus
            outline: 0
.err-msg
    color: red
    
    button 
        background-color: #4CAF50 !important
        border: 0 !important
        color: #FFF !important

        &:hover
            cursor: pointer
.dates
    width: 115px !important

.nwCourse-container
    background-color: #ffffff
    width: 500px
    height: 686px
    display: flex
    flex-direction: column
    padding: 12px
    box-sizing: border-box
    padding-top: 31px
    position: relative

.close-popup
    right: 9px
    position: absolute
    top: 6px
    color: #df4c4c

    &:hover
        cursor: pointer

.date-input-title
    margin-bottom: 6px
    font-size: 17px
    color: #636363

@media (max-width: 516px) 
    .nwCourse-container
        width: 91%
