.item {
  width: 100%;
  display: flex;
  border-bottom: 1px solid #A3A3A3;
  justify-content: unset;
}
.item .course {
  width: 230px;
}
.item .starts {
  width: 223px;
}
.item:hover {
  background-color: #F5F5F5;
  cursor: pointer;
}
.item button {
  position: absolute;
  right: 0;
  align-self: center;
  border-radius: 4px;
  background-color: #2C959C;
  border: 0;
  color: #FFF;
}
.item button:hover {
  cursor: pointer;
  background-color: #2fb9c3;
}
.item button:focus {
  outline: 0;
}

.course {
  width: 230px;
  height: auto;
}

.starts {
  width: 223px;
}

/*# sourceMappingURL=topitem.css.map */
