.courses {
  display: flex;
  padding: 15px;
  flex-wrap: wrap;
  padding: 19px 25px 19px 25px;
  overflow-y: auto;
  margin-bottom: 45px;
}
.courses h3 {
  padding: 6px;
  box-sizing: border-box;
  margin-block-end: 14px;
}
.courses .top-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.courses .top-container .course-f {
  width: 600px;
  height: auto;
  background-color: #FFF;
  padding: 21px;
  box-sizing: border-box;
}
.courses .top-container .course-f table {
  width: 100%;
}
.courses .all-courses button {
  position: unset;
}

.all-courses {
  width: 100%;
  height: auto;
  background-color: #FFF;
  padding: 21px;
  box-sizing: border-box;
  margin-top: 15px;
}
.all-courses a {
  background-color: #4CAF50;
  padding: 3px 16px 3px 16px;
  margin-left: 9px;
  border: 0;
  color: #ffffff;
  font-size: 13px;
  border-radius: 4px;
  font-weight: normal;
}
.all-courses a:hover {
  cursor: pointer;
}

.top-t, .all-courses-top {
  width: 100%;
  display: flex;
  border-top: 1px solid #D7D7D7;
  border-bottom: 1px solid #A3A3A3;
  color: #818486;
}

.starts {
  width: 223px;
}

.course, .starts, .btn, .a-course, .a-date, .a-part, .a-btn {
  padding: 6px;
  box-sizing: border-box;
}

.a-course {
  height: 20px;
  width: 289px;
}

.a-date {
  width: 261px;
}

.a-part {
  width: 189px;
}

.a-btn {
  width: 67px;
}

.close-popup {
  right: 9px;
  position: absolute;
  top: 6px;
  color: #df4c4c;
}
.close-popup:hover {
  cursor: pointer;
}

.a-part {
  width: 48%;
}

@media (max-width: 1264px) {
  .course-f {
    width: 49% !important;
  }
}
@media (max-width: 844px) {
  .all-courses {
    width: 49%;
  }

  .courses {
    display: block;
  }
  .courses .top-container {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (max-width: 780px) {
  .courses .top-container {
    flex-direction: column;
  }
  .courses .mini-continer {
    width: 93%;
  }

  .course-f, .all-courses {
    width: 100% !important;
  }

  .course-f {
    margin-bottom: 15px;
  }
}

/*# sourceMappingURL=courses.css.map */
