.post-it
    width: 257px
    min-height: 300px
    padding: 18px
    background-color: #EDED8B
    box-shadow: 2px 2px 7px 0px #acacac
    margin-bottom: 16px
    margin-right: 10px

    .item-border
        border-bottom: 1px solid #908C34
        padding: 9px 0px 9px 0px
        font-size: 14px
        margin-bottom: 11px

    p

        &:hover
            cursor: pointer

.postit-settings
    font-size: 11px
    float: right
    color: #A3A35B
    margin-top: -12px
    margin-right: -13px

    &:hover
        color: #454538,
        cursor: pointer

.settings-dropdown
    background-color: #EFEFEF
    width: 67px
    heigh: 30px
    box-shadow: 3px 4px 6px 0px #808080
    position: absolute
    right: 7px
    top: 19px

    .delete-btn
        border: 0
        background: #EFEFEF
        color: #e24444
        padding: 5px
        font-size: 13px
        width: 100%
        text-align: left

        &:hover
            cursor: pointer

    .change-btn
        border: 0
        background: #EFEFEF
        color: #000000
        padding: 5px
        font-size: 13px
        width: 100%
        text-align: left

        &:hover 
            cursor: pointer

        &:focus
            outline: 0
