main 
    background-color: #E5E5E5
    height: 100%
    margin-left: 256px
    margin-top: 48px
    overflow: scroll
    width: 100%


@media (max-width: 1442px) 
    main 
        margin-left: 0px
        justify-content: center