.desktop-nav {
  background-color: #424242;
  width: 256px;
  height: 100%;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0px;
  margin-top: 48px;
}

@media (max-width: 1442px) {
  .desktop-nav {
    display: none;
  }
}

/*# sourceMappingURL=menu.css.map */
