.participant {
  width: 100%;
}

.part-container {
  border-bottom: 1px solid #A3A3A3;
  display: flex;
  padding: 5px;
  font-size: 14px;
}
.part-container:hover {
  background-color: #F5F5F5 !important;
  cursor: pointer;
}

.part {
  width: 217px;
}

.hotel {
  width: 197px;
}

.p-info {
  height: 75px;
  background-color: #F5F5F5;
  top: 28;
  left: 0;
  border-bottom: 1px solid #A3A3A3;
  position: relative;
  padding: 5px;
}

.unreg {
  position: absolute;
  bottom: 5px;
  color: #FFF;
  background-color: #CF1205;
  border: 0;
  border-radius: 4px;
  font-size: 12px;
}
.unreg:hover {
  cursor: pointer;
}
.unreg:focus {
  outline: 0;
}

.t-info, .t-data {
  display: flex;
  font-size: 14px;
}

.t-info {
  color: #818486;
}

.t-data {
  color: #3B3B3B;
}

.registered {
  width: 111px;
}

.hotel2 {
  width: 135px;
}

/*# sourceMappingURL=participant.css.map */
